In [2]:
from scapy.all import rdpcap
import pandas as pd
import datetime
import ujson as json

# Normal

In [3]:
packets = rdpcap("./DNS-Tunnel-Datasets/normal/normal_00000_20230805150331.pcap")

In [4]:
packets_dicts = []
for packet in packets:
    packets_dicts.append(json.loads(packet.json()))

In [17]:
df_1 = pd.DataFrame(packets_dicts)

df_1.head()

,dst,src,type,payload
0,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 56, ..."
1,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 56, ..."
2,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 59, ..."
3,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 91, ..."
4,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 59, ..."

In [18]:

df_2 = pd.concat([df_1.drop('payload', axis=1), pd.json_normalize(df['payload'])], axis=1)

df_2.head()

,dst,src,type,version,ihl,tos,len,id,flags,frag,...,payload.payload.z,payload.payload.ad,payload.payload.cd,payload.payload.rcode,payload.payload.qdcount,payload.payload.ancount,payload.payload.nscount,payload.payload.arcount,payload.payload.qd,payload.payload.an
0,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,56,62495,0,0,...,0,0,0,0,1,0,0,0,"[{'qname': 'domain.lan.', 'qtype': 1, 'unicast...",NaN
1,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,4,5,0,56,39968,2,0,...,0,0,0,3,1,0,0,0,"[{'qname': 'domain.lan.', 'qtype': 1, 'unicast...",NaN
2,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,59,62494,0,0,...,0,0,0,0,1,0,0,0,"[{'qname': '254news.co.ke.', 'qtype': 1, 'unic...",NaN
3,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,4,5,0,91,40009,2,0,...,0,0,0,0,1,2,0,0,"[{'qname': '254news.co.ke.', 'qtype': 1, 'unic...","[{'rrname': '254news.co.ke.', 'type': 1, 'cach..."
4,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,59,62496,0,0,...,0,0,0,0,1,0,0,0,"[{'qname': '18guanjia.com.', 'qtype': 1, 'unic...",NaN

In [19]:
df_3 = pd.concat([df_2, pd.json_normalize(df_normalizled['payload.payload.qd'].apply(lambda x:x[0]))], axis=1)

df_3.head()

,dst,src,type,version,ihl,tos,len,id,flags,frag,...,payload.payload.qdcount,payload.payload.ancount,payload.payload.nscount,payload.payload.arcount,payload.payload.qd,payload.payload.an,qname,qtype,unicastresponse,qclass
0,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,56,62495,0,0,...,1,0,0,0,"[{'qname': 'domain.lan.', 'qtype': 1, 'unicast...",NaN,domain.lan.,1,0,1
1,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,4,5,0,56,39968,2,0,...,1,0,0,0,"[{'qname': 'domain.lan.', 'qtype': 1, 'unicast...",NaN,domain.lan.,1,0,1
2,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,59,62494,0,0,...,1,0,0,0,"[{'qname': '254news.co.ke.', 'qtype': 1, 'unic...",NaN,254news.co.ke.,1,0,1
3,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,4,5,0,91,40009,2,0,...,1,2,0,0,"[{'qname': '254news.co.ke.', 'qtype': 1, 'unic...","[{'rrname': '254news.co.ke.', 'type': 1, 'cach...",254news.co.ke.,1,0,1
4,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,59,62496,0,0,...,1,0,0,0,"[{'qname': '18guanjia.com.', 'qtype': 1, 'unic...",NaN,18guanjia.com.,1,0,1

In [20]:
df_4 = df_3.drop('payload.payload.qd', axis=1).drop('payload.payload.an', axis=1)
df_4.head()

,dst,src,type,version,ihl,tos,len,id,flags,frag,...,payload.payload.cd,payload.payload.rcode,payload.payload.qdcount,payload.payload.ancount,payload.payload.nscount,payload.payload.arcount,qname,qtype,unicastresponse,qclass
0,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,56,62495,0,0,...,0,0,1,0,0,0,domain.lan.,1,0,1
1,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,4,5,0,56,39968,2,0,...,0,3,1,0,0,0,domain.lan.,1,0,1
2,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,59,62494,0,0,...,0,0,1,0,0,0,254news.co.ke.,1,0,1
3,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,4,5,0,91,40009,2,0,...,0,0,1,2,0,0,254news.co.ke.,1,0,1
4,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,4,5,0,59,62496,0,0,...,0,0,1,0,0,0,18guanjia.com.,1,0,1

# tunnel

In [23]:
packets = rdpcap("./DNS-Tunnel-Datasets/tunnel/DNS-shell.pcap")

In [25]:
packets[0].json()

'{"dst": "dc:d8:7c:2d:21:31", "src": "d8:f3:bc:55:f5:1d", "type": 2048, "payload": {"version": 4, "ihl": 5, "tos": 0, "len": 69, "id": 49035, "flags": 0, "frag": 0, "ttl": 128, "proto": 17, "chksum": 29068, "src": "192.168.68.62", "dst": "192.168.68.1", "payload": {"sport": 56209, "dport": 53, "len": 49, "chksum": 23480, "payload": {"length": null, "id": 2, "qr": 0, "opcode": 0, "aa": 0, "tc": 0, "rd": 1, "ra": 0, "z": 0, "ad": 0, "cd": 0, "rcode": 0, "qdcount": 1, "ancount": 0, "nscount": 0, "arcount": 0, "qd": [{"qname": "361578368.www.ggy666.tk.", "qtype": 16, "unicastresponse": 0, "qclass": 1}]}}}}'

In [26]:
packets_dicts = []
for packet in packets:
    packets_dicts.append(json.loads(packet.json()))

In [27]:
pd.DataFrame(packets_dicts)

,dst,src,type,payload
0,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 69, ..."
1,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 87, ..."
2,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 68, ..."
3,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:31,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 86, ..."
4,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 69, ..."
...,...,...,...,...
43704,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:33,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 129,..."
43705,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 129,..."
43706,dc:d8:7c:2d:21:31,d8:f3:bc:55:f5:1d,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 130,..."
43707,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:33,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 129,..."
43708,d8:f3:bc:55:f5:1d,dc:d8:7c:2d:21:33,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 129,..."

In [28]:
packets = rdpcap("./DNS-Tunnel-Datasets/tunnel/iodine-mx.pcap")
packets_dicts = []
for packet in packets:
    packets_dicts.append(json.loads(packet.json()))
pd.DataFrame(packets_dicts).head()

,dst,src,type,payload
0,00:50:56:f7:12:eb,00:0c:29:78:b4:8e,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 71, ..."
1,00:0c:29:78:b4:8e,00:50:56:f7:12:eb,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 106,..."
2,00:50:56:f7:12:eb,00:0c:29:78:b4:8e,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 92, ..."
3,00:0c:29:78:b4:8e,00:50:56:f7:12:eb,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 168,..."
4,00:50:56:f7:12:eb,00:0c:29:78:b4:8e,2048,"{'version': 4, 'ihl': 5, 'tos': 0, 'len': 77, ..."